<template>
  <div class="app" :class="[isDarkModeOn ? 'app_d' : '']">
    <div class="modal" v-if="isShowModal">
      <div class="modal__content" :class="[isDarkModeOn ? 'modal-d' : '']">
        <h2 class="modal__header">Описание задачи</h2>
        <textarea class="modal__text-box" v-model="newTaskDesc"></textarea>
        <h2 class="modal__header">Уровень приоритета</h2>
        <select v-model="newPriorityLevel" class="modal__select">
          <option v-for="level in priority_levels" v-bind:key="level.value" v-bind:value="level.value">{{level.text}}</option>
        </select>
        <button v-on:click="addCard" class="modal__button" :class="[isDarkModeOn ? 'btn-d' : '']">Подтвердить</button>
        <button v-on:click="closeModal" class="modal__button" :class="[isDarkModeOn ? 'btn-d' : '']">Выйти</button>
      </div>
    </div>
    <header class="header">
      <div class="header__content">
        <div class="header__logo">
          <img srcset="./assets/to-do-list-sm.png" alt="">
        </div>
        <div class="header__project-name" :class="[isDarkModeOn ? 'header__d' : '']">
          To do list - Puzhaikin
        </div>
        <div class="header__dark-theme">
					<h2 class="header_switch" :class="[isDarkModeOn ? 'header__d' : '']">Тёмная тема</h2>
					<label class="header__switch">
						<input type="checkbox" v-model="isDarkModeOn">
						<span class="header__slider"></span>
					</label>
				</div>
      </div>
    </header>
    <main class="main">
      <div class="main__content">
        <div class="add-to-do">
          <button class="add-to-do__button" v-on:click="isShowModal = true" :class="[isDarkModeOn ? 'btn-d' : '']">Добавить задачу</button>
        </div>
        <div class="cards">
          <div class="card" v-for="card in todo_cards.slice().reverse()" v-bind:key="card.id">
            <div class="card__high-priority-card" v-if="card.priority == 1" :class="[isDarkModeOn ? 'card-d' : '']">
              <h2 class="card__header">Описание задачи</h2>
              <div class="card__to-do-text">{{card.taskDescription}}</div>
              <button v-on:click="removeCard(card)" class="card__remove-btn" :class="[isDarkModeOn ? 'btn-d' : '']">✓</button>
            </div>
            <div class="card__medium-priority-card" v-if="card.priority == 2" :class="[isDarkModeOn ? 'card-d' : '']">
              <h2 class="card__header">Описание задачи</h2>
              <div class="card__to-do-text">{{card.taskDescription}}</div>
              <button v-on:click="removeCard(card)" class="card__remove-btn" :class="[isDarkModeOn ? 'btn-d' : '']">✓</button>
            </div>
            <div class="card__low-priority-card" v-if="card.priority == 3" :class="[isDarkModeOn ? 'card-d' : '']">
              <h2 class="card__header">Описание задачи</h2>
              <div class="card__to-do-text">{{card.taskDescription}}</div>
              <button v-on:click="removeCard(card)" class="card__remove-btn" :class="[isDarkModeOn ? 'btn-d' : '']">✓</button>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="footer">
      <div class="footer__content" :class="[isDarkModeOn ? 'ftr-d' : '']">
        Пужайкин Максим Николаевич 191-361 09.07.2021
      </div>
    </footer>
  </div>
</template>

<script>
export default {
  name: 'App',
  data(){
        return{
          isDarkModeOn: false,
          isShowModal: false,
          priority_levels: [
            {text: 'Низкий', value: 3},
            {text: 'Средний', value: 2},
            {text: 'Высокий', value: 1}
          ],
          newPriorityLevel: '',
          newTaskDesc: '',
          todo_cards: [],
          highestId: 0
        }
    },
  methods: {
    addCard() {
      if(this.newPriorityLevel == '' || this.newTaskDesc == '')
        return
      this.todo_cards.push({id: this.highestId, priority: this.newPriorityLevel, taskDescription: this.newTaskDesc})
      this.highestId++
      this.closeModal()
    },
    closeModal() {
      this.newPriorityLevel = ''
      this.newTaskDesc = ''
      this.isShowModal = false
    },
    removeCard(card) {
      for(var i = 0; i < this.todo_cards.length; i++) {
        if(this.todo_cards[i].id == card.id) {
          this.todo_cards.splice(i,1)
          break
        }
      }
    }
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

html, body, div, span, applet, object, iframe,
blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button {
	background: none;
	cursor: pointer;
    border-style: none;
}

html {
    box-sizing: border-box;
}

.header__switch input {
    display: none;
}

.header__d {
  color: whitesmoke;
}

.app {
  min-height: 100vh;
  transition: .5s;
}

.modal__select {
  height: 30px;
  width: 200px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  transition: .5s;
}

.modal__select:focus {
  background-color: teal;
  color: whitesmoke;
}

.modal__header {
  margin: 0;
}

.card__header {
  text-align: center;
  margin: 0;
}

.modal__button {
  background-color: blueviolet;
  height: 50px;
  width: 200px;
  color: whitesmoke;
  border-radius: 25px;
  font-family: 'Montserrat';
  font-size: 24px;
  font-weight: 600;
}

.card__remove-btn {
  width: 50px;
  height: 50px;
  background-color: aqua;
  border-radius: 50%;
  font-size: 28px;
  color: blueviolet;
}

.header__switch {
  transition: .4s;
}

.app_d {
  background-color: darkslateblue;
}

.header__switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.header__dark-theme p {
    color: black;
}

.modal {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__high-priority-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: darkcyan;
  color: whitesmoke;
  border-radius: 25px;
  width: 600px;
}

.card__to-do-text {
  min-height: 50px;
  max-width: 100%;
  word-wrap: break-word;
  font-size: 18px;
  margin-top: 15px;
}

.card__medium-priority-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: darkcyan;
  color: whitesmoke;
  border-radius: 25px;
  width: 400px;
}

.card__low-priority-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: darkcyan;
  color: whitesmoke;
  border-radius: 25px;
  width: 200px;
  height: 200px;
}

.header__dark-theme {
    display: flex;
    align-items: center;
    width: 250px;
    justify-content: space-between;
    transition: .4s;
}

.header__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 204, 255);
    transition: .4s;
    border-radius: 34px;
}

.header__slider:before {
    border-radius: 50%;
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .header__slider {
    background-color: rgb(9, 54, 112);
}

input:checked + .header__slider::before {
    transform: translateX(26px);
}

*, *::before, *::after {
	box-sizing: inherit;
}

.header {
  padding: 10px;
}

.header__content {
  max-width: 1000px;
  margin: 0 auto;
  min-height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__project-name {
  font-size: 32px;
  font-weight: 700;
  transition: .4s;
}

.add-to-do__button {
  background-color: rebeccapurple;
  width: 250px;
  height: 60px;
  border-radius: 25px;
  color: whitesmoke;
  font-family: 'Montserrat';
  font-size: 24px;
  font-weight: 600;
  transition: .5s;
}

.add-to-do__button:hover {
  width: 270px;
  height: 65px;
}

.main {
  width: 100%;
  padding: 20px;
}

.main__content {
  max-width: 1000px;
  min-height: 500px;
  margin: 0 auto;
}

.modal__content {
  max-width: 400px;
  height: 600px;
  background-color: aqua;
  border-radius: 25px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  flex: 1;
  transition: .4s;
}

.card {
  flex-basis: auto;
  padding: 10px;
}

.footer__content {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}

.modal__text-box {
  height: 200px;
  width: 300px;
  border-radius: 20px;
  border: none;
  resize: none;
  font-family: 'Montserrat';
  font-size: 18px;
  padding: 5px;
  font-weight: 600;
  background-color: azure;
}

.modal__text-box:focus {
  outline: none;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
}

.btn-d {
  background-color: whitesmoke;
  color: black;
}

.modal-d {
  background-color: rgb(9, 137, 139);
  box-shadow: inset 1px 1px 12px 1px #6ecefa, 1px 1px 7px 1px #055ea7;
  color: whitesmoke;
}

.card-d {
  background-color: aqua;
  color: darkslategray;
  box-shadow: inset 1px 1px 12px 1px #20566e, 1px 1px 7px 1px #3e9eec;
}

.ftr-d {
  color: whitesmoke;
  text-shadow: rgb(101, 130, 192) 1px 0 17px;
}

@media (max-width: 670px) {
  .card__high-priority-card {
      width: 300px;
  }

  .card__medium-priority-card {
    width: 250px;
  }

  .card__low-priority-card {
    width: 200px;
  }

  .cards {
    flex-direction: column;
    align-items: center;
  }

  .header__content {
    flex-direction: column;
  }

  .add-to-do {
    display: flex;
    justify-content: center;
  }

  .footer__content {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
  }
}
</style>
